In [ ]:
!pip install snscrape
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: snscrape in /usr/local/lib/python3.9/dist-packages (0.6.2.20230320)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from snscrape) (4.9.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from snscrape) (4.11.2)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.9/dist-packages (from snscrape) (2.27.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from snscrape) (3.11.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->snscrape) (2.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (3.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (1.7.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [ ]:
from textblob import TextBlob
import re
def clean_tweet(tweet):
  return ' '.join(re.sub("(@[A-Za-z0-9]+) | (@[^0-9A-Za-z \t]) | (/w+:\/\/\S+)", " ", tweet).split())
#Sentimen analsis dengan polarity menggunakan library textblob
def analize_sentiment(tweet):
  analysis = TextBlob (clean_tweet(tweet))
  if analysis.sentiment.polarity > 0:
    return 1
  elif analysis.sentiment.polarity == 0:
    return 0
  else :
    return -1
  def analize_subjectorobject(tweet):
    #Kita dapat melihat polaritas [-1][0][1] untuk -1 termasuk negatif, 0 netral dan 1 positif.
    #Misal terdapat polarity 0.8 yang berarti pernyataan positif dan subjektifitas 0.75 merujuk bahwa itu adalah opini publik dan bukan informasi faktual
    analysis = TextBlob(clean_tweet(tweet))
    if analysis.sentiment.polarity > 0:
      return "Positif"
    elif analysis.sentiment.polarity == 0:
      return "Netral"
    else:
      return "Negatif"

In [ ]:
# buat daftar untuk menambah data dari twitter
tweets_list = []

In [ ]:
#buat TwiterSearcScrapper untuk mengambil data
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('fifa batal u-20 since:2023-03-25 until:2023-03-30').get_items()):
  if i>20000:
    break
  tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.user.username, analize_sentiment(tweet.content)])

<ipython-input-39-b550d5be4ed1>:5: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.user.username, analize_sentiment(tweet.content)])

In [ ]:
# membuat tabel dari data tweet yang sudah di ambil
tweet = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Tweet', 'Username', 'Label'])

In [ ]:
tweet

,Datetime,Tweet Id,Tweet,Username,Label
0,2023-03-29 23:54:18+00:00,1641227310878818305,Potential sanctions against the PSSI may also ...,wdtu,1
1,2023-03-29 23:50:40+00:00,1641226398424612866,FIFA: Indonesia Batal Jadi Tuan Rumah Piala Du...,ChoNunik,0
2,2023-03-29 23:49:42+00:00,1641226154354053121,"Wah wah wah, FIFA World Cup U-20 batal di Indo...",newrosita,0
3,2023-03-29 23:45:59+00:00,1641225217765969920,Media Sosial\n\nPro (27%):\nâ€¢ Minta warganet p...,ismailfahmi,1
4,2023-03-29 23:43:24+00:00,1641224569670467584,@ganjarpranowo Tiada hari tanpa pencitraan. \n...,CozyAmos1,0
...,...,...,...,...,...
941,2023-03-25 04:50:07+00:00,1639489820019011584,Yahh ternyata Indonesia bisa kena sanksi FIFA ...,sarimpat,0
942,2023-03-25 04:50:06+00:00,1639489812297318401,Indonesia Terancam Sanksi FIFA Jika Drawing Pi...,lie_friska,0
943,2023-03-25 04:50:00+00:00,1639489787324186626,serem juga ni kalo Indonesia kena Sanksi FIFA ...,cnajaeminv,0
944,2023-03-25 04:50:00+00:00,1639489787206971392,drawing piala dunia u-20 2023 dirumorkan batal...,frevze,0
945,2023-03-25 01:09:13+00:00,1639434226423717897,@theo12_ini Ancaman berat mengiringi Indonesia...,arsenabire,0

In [ ]:
tweet.groupby('Label').describe()

      Tweet Id                                                          \
         count          mean           std           min           25%
Label
-1        18.0  1.640701e+18  3.989152e+14  1.640117e+18  1.640307e+18
 0       885.0  1.640613e+18  4.746051e+14  1.639434e+18  1.640270e+18
 1        43.0  1.640702e+18  4.764373e+14  1.639496e+18  1.640293e+18


                50%           75%           max
Label
-1     1.640647e+18  1.641104e+18  1.641207e+18
 0     1.640568e+18  1.641107e+18  1.641226e+18
 1     1.640706e+18  1.641115e+18  1.641227e+18

In [ ]:
tweet_positif=tweet[tweet['Label'] > 0]
tweet_positif.head()

,Datetime,Tweet Id,Tweet,Username,Label
0,2023-03-29 23:54:18+00:00,1641227310878818305,Potential sanctions against the PSSI may also ...,wdtu,1
3,2023-03-29 23:45:59+00:00,1641225217765969920,Media Sosial\n\nPro (27%):\nâ€¢ Minta warganet p...,ismailfahmi,1
7,2023-03-29 23:25:49+00:00,1641220144021270530,Skenarionya gini\n-Argentina gagal lolos Piala...,Rahman12996,1
25,2023-03-29 22:17:15+00:00,1641202889250189312,"Sangat disayangkan akhirnya Pildun U-20 batal,...",FardaniYS,1
29,2023-03-29 22:09:34+00:00,1641200957097930753,"Batal jadi tuan rumah Piala Dunia U-20, apa yg...",2karakterbisa,1

In [ ]:
tweet_negatif=tweet[tweet['Label'] < 0]
tweet_negatif.head()

,Datetime,Tweet Id,Tweet,Username,Label
21,2023-03-29 22:34:09+00:00,1641207143201394688,"Yah batal...ambil himahnya, minimal menghilang...",patahulla06,-1
134,2023-03-29 17:03:32+00:00,1641123937710129152,Oke. Keputusan FIFA sudah diambil. Indonesia b...,FahmiAgustian,-1
194,2023-03-29 16:15:49+00:00,1641111930894184449,"Lagunya Tiara, Lyodra, Ziva flat Weird Genius ...",skawngr_j,-1
232,2023-03-29 15:59:01+00:00,1641107703627149312,"Indonesia kocak, PSSI sama aja. Pejabat sibuk ...",ecowskii,-1
254,2023-03-29 15:47:31+00:00,1641104809096007680,"Pildun u-20 batal,. \nSebenarnya banyak Poin d...",ariusmarley,-1

In [ ]:
tweet_netral=tweet[tweet['Label'] == 0]
tweet_netral.head()

,Datetime,Tweet Id,Tweet,Username,Label
1,2023-03-29 23:50:40+00:00,1641226398424612866,FIFA: Indonesia Batal Jadi Tuan Rumah Piala Du...,ChoNunik,0
2,2023-03-29 23:49:42+00:00,1641226154354053121,"Wah wah wah, FIFA World Cup U-20 batal di Indo...",newrosita,0
4,2023-03-29 23:43:24+00:00,1641224569670467584,@ganjarpranowo Tiada hari tanpa pencitraan. \n...,CozyAmos1,0
5,2023-03-29 23:34:06+00:00,1641222230419083265,Indonesia Batal Tuan Rumah Piala Dunia U-20 ht...,nusabalicom,0
6,2023-03-29 23:28:48+00:00,1641220894965260288,Tidak ada yang bisa ataupun boleh disalahkan d...,apoy_orasepele,0

In [ ]:
frames = [tweet_positif, tweet_negatif, tweet_netral]
#menghapus duplikasi
hasil = pd.concat(frames).drop_duplicates().reset_index(drop=True)

In [ ]:
hasil.to_csv(r'DataFIFACrawling.csv', index=False)

In [ ]:
hasil.to_excel(r'DataFIFAbanyak.xlsx', index=False)

ValueError: ignored